language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - ruby-head
  - jruby
  - rbx
gemfile:
  - Gemfile
  - Gemfile.rails3
  - Gemfile.edge
matrix:
  allow_failures:
    - rvm: jruby
    - rvm: rbx
    - gemfile: Gemfile.edge
  fast_finish: true
notifications:
  email: false
  campfire:
    on_success: change
    rooms:
      - secure: "TP0fJ4aqXCRD7CaAgaYW7Pa22j4/uLChdBb59ob/sJvHtfi4Zx3I54xWApmp\nZl1KItFGCV8oQZhQl5hAmHJfJ+1gCNeBvIKwY6TsIyTmyDg1KcJUcJDrwYxO\ntAeYI2PvU5PtKMmpnfnwFQMxL+2nfWJWNzboBCDr4YvoFI+rN+A="
