language: ruby

sudo: false

rvm:
  - 2.0.0
  - 2.1
  - 2.2.3
  - ruby-head
  - rbx-2

install: bundle install --path=vendor/bundle --retry=3 --jobs=3
cache:
  directories:
    - vendor/bundle

script:
  - env CAPTURE_STDERR=${CAPTURE_STDERR:-false} bundle exec rake ci

env:
  - "RAILS_VERSION=4.0"
  - "RAILS_VERSION=4.1"
  - "RAILS_VERSION=4.2"
  - "RAILS_VERSION=master"

matrix:
  exclude:
  - rvm: 2.0.0
    env: RAILS_VERSION=master
  - rvm: 2.1
    env: RAILS_VERSION=master
  include:
  - rvm: 2.2
    env: CAPTURE_STDERR=true
  allow_failures:
    - rvm: ruby-head
  fast_finish: true
