language: ruby

sudo: false

rvm:
  - 2.1
  - 2.2.3
  - 2.3.0
  - ruby-head
  - jruby-9.0.4.0
  - jruby-head

jdk:
  - oraclejdk8

install: bundle install --path=vendor/bundle --retry=3 --jobs=3
cache:
  directories:
    - vendor/bundle

script:
  - bundle exec rake ci

env:
  global:
    - "JRUBY_OPTS='--dev -J-Xmx1024M --debug'"
  matrix:
    - "RAILS_VERSION=4.1"
    - "RAILS_VERSION=4.2"
    - "RAILS_VERSION=master"

matrix:
  exclude:
  - rvm: 2.1
    env: RAILS_VERSION=master
  - rvm: jruby-9.0.4.0
    env: RAILS_VERSION=master
  - rvm: jruby-head
    env: RAILS_VERSION=master
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
  fast_finish: true
