source 'http://rubygems.org'

gemspec

gem 'rails', github: 'rails/rails'

# Current dependencies of edge rails
gem 'journey', github: 'rails/journey'
gem 'activerecord-deprecated_finders' , github: 'rails/activerecord-deprecated_finders'
