source 'https://rubygems.org'

gemspec

gem 'sqlite3'
gem 'coveralls', :require => false
gem 'simplecov', :require => false

# Use Rails master
gem 'rails', github: 'rails/rails'

# Current dependencies of edge rails
gem 'arel', github: 'rails/arel'
